/*---------------------------------------------------------------------------------*/
/*---------------------------------- HELPERS --------------------------------------*/
/*---------------------------------------------------------------------------------*/

.full-height{
    min-height: 100vh;
}

.astronaut{
    background-color: chartreuse;
}

.text-page{
    background-color: crimson;

}

a, a:hover {
    color: #000000;
    text-decoration: none;
}