/*---------------------------------------------------------------------------------*/
/*------------------------------- LAYOUT PAGE ONE ---------------------------------*/
/*---------------------------------------------------------------------------------*/

.astronaut{
    background-image: url(assets/photos/adam-miller-dBaz0xhCkPY-unsplash.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.text-box{
    width: 22rem;
    height: 22rem;
    background-color: rgba(255,255,255,0.7);
    border: 4px solid #000;
    position: absolute;
    top: 80px;
    left: 150px;
    padding: 20px;
}

h1{
    font-size:  6rem; 
    position: relative;
    text-align: center;
    font-family: Rubik;
    text-transform: uppercase;
}

.link-text{
    font-family: Rubik;
    font-size: 0.7rem;
    position: relative;
    text-align: right;
    top: -10px;
    left: 0;
    cursor: pointer;
}

.link-text span{
    position: relative;
    left: 0;
    transition: left 0.5s ease-out;
}

.link-text:hover span{
    left: 10px;
}


.text-arrow{
    font-size: 40px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 85%;
    display: none;
}
